.contenedor{
	width: 800px;
	height: 200px;
	background-color: #000000; 
	color: #ffffff;
}

#p1{
	color: #ffffff;
	background-color: rgb(120,180,14);
}

#p2{
	color: #ffffff;
	background-color: rgba(120,180,14, 0.75);	
}

#p3{
	color: #ffffff;
	background-color: hsl(120, 100%, 70%);
}

#p4{
	color: #ffffff;
	height: 30px;
	background-color: hsla(120, 100%, 25%, 0.56);
}


div.fondoprincipal{
	width: 800px;
	height: 600px;
	background-color: #ff4444;
}

div{
	width: 100px;
	height: 100px;
	background-color: #fff;
}

div#prueba {
	color: green;
	width: 100px;
	height: 100px;
	background-color: #000;
}